@echo off
set PROG_HOME=..
set PROG_NAME={{{PROG_NAME}}}
set PROG_VERSION={{{PROG_VERSION}}}

(
set /p JAVA_OPTS=
)<.jvm-opts
echo JAVA_OPTS=%JAVA_OPTS%

set PROG_OPTS=-Dapplication.home=%PROG_HOME% -Dapplication.executionEnv=%EXECUTION_ENV% -Dprog.version=%PROG_VERSION% -Dprog.name=%PROG_NAME%

set PROG_CLASSPATH={{{EXTRA_CLASSPATH}}}%PROG_HOME%\conf\%EXECUTION_ENV%;%PROG_HOME%\lib\*

java %JAVA_OPTS% %PROG_OPTS%  -cp "%PROG_CLASSPATH%" -Dprog.home="%PROG_HOME%" {{{MAIN_CLASS}}}